---
import Kirby from "../assets/kirby.png";
import Mario from "../assets/mario.png";
import Link from "../assets/link.png";
import Pikachu from "../assets/pikachu.png";
import AnimalC from "../assets/animalcrossing.png";
import SamusAran from "../assets/samus.png";
import DK from "../assets/dk.png";
import Sonic from "../assets/sonic.png";
import Pacman from "../assets/pacman.png";
import Crash from "../assets/crash.png";
import Cuphead from "../assets/cuphead.png";
import Yoshi from "../assets/yoshi.png";
import { Image } from "astro:assets";

interface Props {}

const {} = Astro.props;
---

<div id="personajes" class="flex flex-col items-center">
  <h1 class="text-2xl font-bold text-center my-3">Personajes emblemáticos</h1>
  <!-- <div class="bg-gradient-to-r from-indigo-500 p-6 rounded-md"> -->
  <div class="w-1/2 p-8">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
      <div class="grid gap-4">
        <div
            class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat"
            data-te-ripple-init
            data-te-ripple-color="light"
        >
            <Image
            class="h-auto max-w-full rounded-lg"
            src={Kirby}
            alt="Kirby-personaje"
            />
            <a href="#!">
            <div
                class="flex items-center justify-center absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-md overflow-hidden bg-[rgba(255,255,255,0.4)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
            >
                <p class="text-sm text-center font-semibold dark:text-black">Kirby</p>
            </div>
            </a>
        </div>
        <div
            class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat"
            data-te-ripple-init
            data-te-ripple-color="light"
        >
            <Image
            class="h-auto max-w-full rounded-lg"
            src={Mario}
            alt="Mario-personaje"
            />
            <a href="#!">
            <div
                class="flex items-center justify-center absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-md overflow-hidden bg-[rgba(255,255,255,0.4)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
            >
                <p class="text-sm text-center font-semibold dark:text-black">Mario</p>
            </div>
            </a>
        </div>
        <div
            class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat"
            data-te-ripple-init
            data-te-ripple-color="light"
        >
            <Image
            class="h-auto max-w-full rounded-lg"
            src={Link}
            alt="Nintendo gamecube."
            />
            <a href="#!">
            <div
                class="flex items-center justify-center absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-md overflow-hidden bg-[rgba(255,255,255,0.4)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
            >
                <p class="text-sm text-center font-semibold dark:text-black">Link</p>
            </div>
            </a>
        </div>
      </div>
      <div class="grid gap-4">
        <div
            class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat"
            data-te-ripple-init
            data-te-ripple-color="light"
        >
            <Image
            class="h-auto max-w-full rounded-lg"
            src={Pikachu}
            alt="Nintendo gamecube."
            />
            <a href="#!">
            <div
                class="flex items-center justify-center absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-md overflow-hidden bg-[rgba(255,255,255,0.4)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
            >
                <p class="text-sm text-center font-semibold dark:text-black">Pikachu</p>
            </div>
            </a>
        </div>
        <div
            class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat"
            data-te-ripple-init
            data-te-ripple-color="light"
        >
            <Image
            class="h-auto max-w-full rounded-lg"
            src={AnimalC}
            alt="Nintendo gamecube."
            />
            <a href="#!">
            <div
                class="flex items-center justify-center absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-md overflow-hidden bg-[rgba(255,255,255,0.4)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
            >
                <p class="text-sm text-center font-semibold dark:text-black">Tom Nook</p>
            </div>
            </a>
        </div>
        <div
            class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat"
            data-te-ripple-init
            data-te-ripple-color="light"
        >
            <Image
            class="h-auto max-w-full rounded-lg"
            src={SamusAran}
            alt="Nintendo gamecube."
            />
            <a href="#!">
            <div
                class="flex items-center justify-center absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-md overflow-hidden bg-[rgba(255,255,255,0.4)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
            >
                <p class="text-sm text-center font-semibold dark:text-black">Samus Aran</p>
            </div>
            </a>
        </div>
      </div>
      <div class="grid gap-4">
        <div
            class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat"
            data-te-ripple-init
            data-te-ripple-color="light"
        >
            <Image
            class="h-auto max-w-full rounded-lg"
            src={DK}
            alt="Nintendo gamecube."
            />
            <a href="#!">
            <div
                class="flex items-center justify-center absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-md overflow-hidden bg-[rgba(255,255,255,0.4)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
            >
                <p class="text-sm text-center font-semibold dark:text-black">Donkey Kong</p>
            </div>
            </a>
        </div>
        <div
            class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat"
            data-te-ripple-init
            data-te-ripple-color="light"
        >
            <Image
            class="h-auto max-w-full rounded-lg"
            src={Sonic}
            alt="Nintendo gamecube."
            />
            <a href="#!">
            <div
                class="flex items-center justify-center absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-md overflow-hidden bg-[rgba(255,255,255,0.4)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
            >
                <p class="text-sm text-center font-semibold dark:text-black">Sonic</p>
            </div>
            </a>
        </div>
        <div
            class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat"
            data-te-ripple-init
            data-te-ripple-color="light"
        >
            <Image
            class="h-auto max-w-full rounded-lg"
            src={Pacman}
            alt="Nintendo gamecube."
            />
            <a href="#!">
            <div
                class="flex items-center justify-center absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-md overflow-hidden bg-[rgba(255,255,255,0.4)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
            >
                <p class="text-sm text-center font-semibold dark:text-black">Pacman</p>
            </div>
            </a>
        </div>
      </div>
      <div class="grid gap-4">
        <div
            class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat"
            data-te-ripple-init
            data-te-ripple-color="light"
        >
            <Image
            class="h-auto max-w-full rounded-lg"
            src={Crash}
            alt="Nintendo gamecube."
            />
            <a href="#!">
            <div
                class="flex items-center justify-center absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-md overflow-hidden bg-[rgba(255,255,255,0.4)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
            >
                <p class="text-sm text-center font-semibold dark:text-black">Crash</p>
            </div>
            </a>
        </div>
        <div
            class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat"
            data-te-ripple-init
            data-te-ripple-color="light"
        >
            <Image
            class="h-auto max-w-full rounded-lg"
            src={Cuphead}
            alt="Nintendo gamecube."
            />
            <a href="#!">
            <div
                class="flex items-center justify-center absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-md overflow-hidden bg-[rgba(255,255,255,0.4)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
            >
                <p class="text-sm text-center font-semibold dark:text-black">Cuphead</p>
            </div>
            </a>
        </div>
        <div
            class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat"
            data-te-ripple-init
            data-te-ripple-color="light"
        >
            <Image
            class="h-auto max-w-full rounded-lg"
            src={Yoshi}
            alt="Nintendo gamecube."
            />
            <a href="#!">
            <div
                class="flex items-center justify-center absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-md overflow-hidden bg-[rgba(255,255,255,0.4)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
            >
                <p class="text-sm text-center font-semibold dark:text-black">Yoshi</p>
            </div>
            </a>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>

<style></style>
